# Ignore all files with following extensions
*.xlsx
*.sqlite
*.csv
*.gpkg
*.gdb
*.dbf
*.prj
*.shp
*.shx
*.rds
# Ignore the following .R files
R6_SGS_Download.R
R6_Repopulate_Redd_Option_List.R
output_chehalis_reach_points.R
test_upload_ids.rds
